{
    "extends": "airbnb",
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": 0,
        "react/jsx-filename-extension": 0,
        "react/prefer-stateless-function": 0
    }
}